{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>CrashCourseYou</title>
		<!-- Loading the font -->
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<!-- Latest compiled and minified Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Sementic UI CDN -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.2/semantic.min.css" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'createcourse/coursedetails.css' %}">
		<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
		<script src="http://multidatespickr.sourceforge.net/jquery-ui.multidatespicker.js"></script>
	</head>
	<body>
		<div class="header container-fluid">
			<div class="row">
				<div class="sitemap">
					<div class="ui large breadcrumb">
						<a class="section" onclick="window.location='{% url 'members:index' %}';">Dashboard</a>
						<i class="right chevron icon divider"></i>
						<a class="section" onclick="window.location='{% url 'createcourse:index' %}';">Add crash courses</a>
						<i class="right chevron icon divider"></i>
						<a class="active section">Course Details</a>
					</div>
				</div>
				<div class="languages ui floating dropdown labeled search icon button">
				  <i class="world icon"></i>
				  <span class="text">Select Language</span>
				  <div class="menu">
				    <div class="item">Arabic</div>
				    <div class="item">Chinese</div>
				    <div class="item">Danish</div>
				    <div class="item">Dutch</div>
				    <div class="item">English</div>
				    <div class="item">French</div>
				    <div class="item">German</div>
				    <div class="item">Greek</div>
				    <div class="item">Hungarian</div>
				    <div class="item">Italian</div>
				    <div class="item">Japanese</div>
				    <div class="item">Korean</div>
				    <div class="item">Lithuanian</div>
				    <div class="item">Persian</div>
				    <div class="item">Polish</div>
				    <div class="item">Portuguese</div>
				    <div class="item">Russian</div>
				    <div class="item">Spanish</div>
				    <div class="item">Swedish</div>
				    <div class="item">Turkish</div>
				    <div class="item">Vietnamese</div>
				  </div>
				</div>
			</div>
		</div>
		<!--  -->
		<section class="addcourse-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<form id="imageform" action="" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="ui form">
								<div class="ui fluid labeled input">
									<div class="ui label">
										Course name:
									</div>
									<input type="text" name="cname" value="{{ course.course_name }}">
								</div>
								<div class="field">
									<label>What to expect:  <p class="ui green circular icon button">
  <i class="help icon" data-title="I'm confused" data-content="This is a help message for the user."></i></p>
									</label>
									<textarea name="cexpectdesc" rows="2">{% if course.course_expect_desc %}{{ course.course_expect_desc }}{% endif %}</textarea>
								</div>
								<div class="field">
									<label>Requirements (optional): <p class="ui green circular icon button">
  <i class="help icon" data-title="I'm confused" data-content="This is a help message for the user."></i></p>
									</label>
									<textarea name="creqdesc" rows="2">{% if course.course_req_desc %}{{ course.course_req_desc }}{% endif %}</textarea>
								</div>
								<div class="field">
									<label>Final Result (optional): <p class="ui green circular icon button">
  <i class="help icon" data-title="I'm confused" data-content="This is a help message for the user."></i></p>
									</label>
									<textarea name="cresultdesc" rows="2">{% if course.course_result_desc  %}{{ course.course_result_desc }}{% endif %}</textarea>
								</div>
								<div class="field">
									<label>Course Images : <p class="ui green circular icon button">
  <i class="help icon" data-title="I'm confused" data-content="This is a help message for the user."></i></p>
  </label>
									{% if images %}
									<div class="ui tiny images">
										{% for image in images %}
											<img class="ui image" src="{{ image.image.url }}">
										{% endfor %}
									</div>
									{% endif %}
									<input type="file" name="courseimage" accept="image/*" onchange="window.setTimeout(function() { document.getElementById('imageform').submit(); }, 200);">
								</div>
								<div class="field">
									<label>Course Videos : <p class="ui green circular icon button">
  <i class="help icon" data-title="I'm confused" data-content="This is a help message for the user."></i></p>
									</label>
									{% if videos %}
										{% for video in videos %}
											<video width="320" height="240" controls>
											  <source src="{{ video.video.url }}" >
											Your browser does not support the video tag.
											</video>
										{% endfor %}
									</div>
									{% endif %}
									<input type="file" name="coursevideo" accept="video/*" onchange="window.setTimeout(function() { document.getElementById('imageform').submit(); }, 200);">
								</div>
								<div class="row rowdetails">
									<div class="col-md-6">
										<fieldset id="datesav">
											<legend>Avability in next 2 months <p class="ui green circular icon button">
  <i class="help icon" data-title="I'm confused" data-content="This is a help message for the user."></i></p>
  											</legend>

											<input type="hidden" name="avabilitysd" class="datepicker" value="{% if course.avability_start_date %}{{ course.avability_start_date }}{% endif %}">
											<input type="hidden" name="avabilityed" class="datepicker" value="{% if course.avability_end_date %}{{ course.avability_end_date }}{% endif %}">
											<div class="row">
												<div class="col-md-6 datepicker"></div>
												<div class="col-md-6 datepicker"></div>
											</div>
											<div class="field">
												<label>Time Available:</label>
											</div>
											<div class="tow fields">
												<div class="field">
													<div class="ui right labeled input">
														<input type="number" name="ast" min="1" max="12" value="{% if course.avability_start_time %}{{ course.avability_start_time }}{% endif %}">
														<div class="ui dropdown label form-drop-down" target-in=".astp">
															<div class="text">{% if course.avability_start_time_period %}{{ course.avability_start_time_period }}{% else %} am {% endif %}</div>
															<i class="dropdown icon"></i>
															<div class="menu">
																<div class="item">am</div>
																<div class="item">pm</div>
															</div>
														</div>
														<input type="hidden" name="astp" class="astp" value="am">
													</div>
												</div>
												
												<div class="field">
													<div class="ui right labeled input">
														<input type="number" name="aet" min="1" max="12" value="{% if course.avability_end_time %}{{ course.avability_end_time }}{% endif %}">
														<div class="ui dropdown label form-drop-down" target-in=".aetp">
															<div class="text">{% if course.avability_end_time_period %}{{ course.avability_end_time_period }}{% else %} pm {% endif %}</div>
															<i class="dropdown icon"></i>
															<div class="menu">
																<div class="item">am</div>
																<div class="item">pm</div>
															</div>
														</div>
														<input type="hidden" name="aetp" class="aetp" value="pm">
													</div>
												</div>
											</div>
										</fieldset>								
									</div>
									<div class="col-md-6">
									<div class="row">
										<div class="col-md-12">
											<div class="field">
												<select class="ui dropdown" id="avmodeselect">
													<option value="">Avalability mode</option>
													<option value="webinarmode">Webinar mode</option>
													<option value="videomode">Video mode</option>
												</select>	
											</div>		
										</div>
									</div>
										<div class="row">
										<div class="col-md-6">
											<fieldset class="fieldmode webinarmode">
												<legend>Details  (Webinar mode)</legend>
												<div class="two fields">
													<div class="field">
														<label>Total price (including all students) ($):</label>
														<input type="number" name="wprice" min="10" value="{% if course.webinar_price %}{{ course.webinar_price }}{% endif %}">
													</div>
													<div class="field">
														<label>Duration (hours):</label>
														<input type="number" name="wduration" min="1" value="{% if course.webinar_duration %}{{ course.webinar_duration }}{% endif %}">
													</div>
												</div>
												<div class="field">
													<div class="ui checkbox">
														<input type="checkbox" name="wisfree" tabindex="0" class="hidden" {% if course.webinar_is_free == "on" %} checked="checked"{% endif %}>
														<label>This is a free training session</label>
													</div>
												</div>
												<div class="inline fields">
													<label class="sixteen wide field">Max number of students:</label>
													<input type="number" name="wmaxnum" min="10" value="{% if course.webinar_max_num %}{{ course.webinar_max_num }}{% endif %}">
												</div>
												<div class="inline fields">
													<label class="sixteen wide field">Post-price per video access ($):</label>
													<input type="number" name="wppa" min="10" value="{% if course.webinar_price_per_access %}{{ course.webinar_price_per_access }}{% endif %}">
												</div>
												<div class="field">
													<label>It will have subsequent editions?</label>
												</div>
												<div class="row">
													<div class="col-md-4">
														<div class="ui radio checkbox">
															<input type="radio" name="subsquent" tabindex="0" class="hidden" value="Yes" {% if course.webinar_subsequent_ed == "Yes" %}checked="checked"{% endif %}>
															<label>Yes</label>
														</div>
													</div>
													<div class="col-md-4">
														<div class="ui radio checkbox">
															<input type="radio" name="subsquent" tabindex="0" class="hidden" value="No" {% if course.webinar_subsequent_ed == "No" %}checked="checked"{% endif %}>
															<label>No</label>
														</div>
													</div>
													<div class="col-md-4">
														<div class="ui radio checkbox">
															<input type="radio" name="subsquent" tabindex="0" class="hidden" value="Maybe" {% if course.webinar_subsequent_ed == "Maybe" %}checked="checked"{% endif %}>
															<label>Maybe</label>
														</div>
													</div>
												</div>
												<div class="field">
													<select class="ui dropdown" name="wcategory">
														{% if course.webinar_category %}
															<option value="{{ course.webinar_category }}">{{ course.webinar_category }}</option>
														{% else %}
															<option value="">Category</option>
														{% endif %}
														
														<option value="Programming">Programming</option>
														<option value="Entertainement">Entertainement</option>
														<option value="Life & DIY">Life & DIY</option>
														<option value="Science">Science</option>
														<option value="Mathematics">Mathematics</option>
														<option value="Sport">Sport</option>
													</select>
												</div>
											</fieldset>								
										</div>
										<div class="col-md-6">
											<fieldset class="fieldmode videomode">
												<legend>Details  (video mode)</legend>
												<div class="two fields">
													<div class="field">
														<label>Total price (including all students) ($):</label>
														<input type="number" name="vprice" min="10" value="{% if course.video_price %}{{ course.video_price }}{% endif %}">
													</div>
													<div class="field">
														<label>Duration (hours):</label>
														<input type="number" name="vduration" min="1" value="{% if course.video_duration %}{{ course.video_duration }}{% endif %}">
													</div>
												</div>
												<div class="field">
													<div class="ui checkbox">
														<input type="checkbox" name="visfree" tabindex="0" class="hidden" {% if course.video_is_free == "on" %} checked="checked"{% endif %}>
														<label>This is a free training session</label>
													</div>
												</div>

												<div class="field">
													<label>It will have subsequent editions?</label>
												</div>
												<div class="row">
													<div class="col-md-4">
														<div class="ui radio checkbox">
															<input type="radio" name="vsubsquent" tabindex="0" class="hidden" value="Yes" {% if course.video_subsequent_ed == "Yes" %}checked="checked"{% endif %}>
															<label>Yes</label>
														</div>
													</div>
													<div class="col-md-4">
														<div class="ui radio checkbox">
															<input type="radio" name="vsubsquent" tabindex="0" class="hidden" value="No" {% if course.video_subsequent_ed == "No" %}checked="checked"{% endif %}>
															<label>No</label>
														</div>
													</div>
													<div class="col-md-4">
														<div class="ui radio checkbox">
															<input type="radio" name="vsubsquent" tabindex="0" class="hidden" value="Maybe" {% if course.video_subsequent_ed == "Maybe" %}checked="checked"{% endif %}>
															<label>Maybe</label>
														</div>
													</div>
												</div>
												<div class="field">
													<select class="ui dropdown" name="vcategory">
														{% if course.video_category %}
															<option value="{{ course.video_category }}">{{ course.video_category }}</option>
														{% else %}
															<option value="">Category</option>
														{% endif %}
														
														<option value="Programming">Programming</option>
														<option value="Entertainement">Entertainement</option>
														<option value="Life & DIY">Life & DIY</option>
														<option value="Science">Science</option>
														<option value="Mathematics">Mathematics</option>
														<option value="Sport">Sport</option>
													</select>
												</div>		
											</fieldset>								
										</div>
										</div>
									</div>
								</div>
								<input id="cdraft" type="hidden" name="cdraft" value="True">
								<div class="field">
									<label>Course Status: </label>
									<div class="field">
										<div class="ui toggle checkbox">
											<input type="checkbox" name="isdraft" tabindex="0" class="hidden" {% if not course.course_draft %}checked="checked" {% endif %}>
											<label>Toggle the checkbox to (un)publish.</label>
										</div>
									</div>
								</div>
								<div class="field">
									<a class="ui button" href="http://127.0.0.1:8000/createcourse/">Return</a>
									<button class="ui button" type="submit">Save</button>
								</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<section class="footer">
			<p>All rights reserved <strong>@CrashCourseYou</strong> 2016-2017.</p>
		</section>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.2/semantic.min.js" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{% static 'createcourse/js/main.js' %}"></script>
		<script type="text/javascript">
			$('.ui.dropdown')
			  .dropdown()
			;
			$('.form-drop-down')
				.dropdown({
					onChange: function(value, text){
						$($(this).attr('target-in')).attr('value', value);
					}
				})
			;

			$('.ui.checkbox')
			  .checkbox({
			  	onChecked: function(){
			  		$('#cdraft').attr('value','False');
			  	},
			  	onUnchecked: function(){
			  		$('#cdraft').attr('value','True');
			  	}
			  })
			;
			$('.ui.radio.checkbox')
			  .checkbox()
			;
			 $( function() {
			    $( ".datepicker" ).datepicker();
			  } );
			$(document).ready(function(){
				$('.fieldmode').attr('disabled','');
				$(".fieldmode").children().addClass("disabled");
				$(".fieldmode").find('input').addClass("disabled");
				$(".datepicker").multiDatesPicker();
				$("#avmodeselect").change(function(){
					$('.fieldmode').attr('disabled','');
					$(".fieldmode").children().addClass("disabled");
					if ($(this).val() == "videomode") {
						$('.videomode').removeAttr('disabled');
						$(".videomode").children().removeClass("disabled");
						$(".videomode").find('input').removeClass("disabled");
					}
					if ($(this).val() == "webinarmode") {
						$('.webinarmode').removeAttr('disabled');
						$(".webinarmode").children().removeClass("disabled");
						$(".webinarmode").find('input').removeClass("disabled");
					}
				});
			});
			$('i.help')
			  .popup()
			;
		</script>
	</body>
</ht