{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>CrashCourseYou</title>
		<!-- Loading the font -->
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<!-- Latest compiled and minified Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Sementic UI CDN -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.2/semantic.min.css" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'createcourse/coursedetails.css' %}">
		<script   src="https://code.jquery.com/jquery-1.12.4.min.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="header container-fluid">
			<div class="row">
				<div class="sitemap">
					<div class="ui large breadcrumb">
						<a class="section" onclick="window.location='{% url 'members:index' %}';">Dashboard</a>
						<i class="right chevron icon divider"></i>
						<a class="section" onclick="window.location='{% url 'createcourse:index' %}';">Add crash courses</a>
						<i class="right chevron icon divider"></i>
						<a class="active section">Course Details</a>
					</div>
				</div>
				<div class="languages ui floating dropdown labeled search icon button">
				  <i class="world icon"></i>
				  <span class="text">Select Language</span>
				  <div class="menu">
				    <div class="item">Arabic</div>
				    <div class="item">Chinese</div>
				    <div class="item">Danish</div>
				    <div class="item">Dutch</div>
				    <div class="item">English</div>
				    <div class="item">French</div>
				    <div class="item">German</div>
				    <div class="item">Greek</div>
				    <div class="item">Hungarian</div>
				    <div class="item">Italian</div>
				    <div class="item">Japanese</div>
				    <div class="item">Korean</div>
				    <div class="item">Lithuanian</div>
				    <div class="item">Persian</div>
				    <div class="item">Polish</div>
				    <div class="item">Portuguese</div>
				    <div class="item">Russian</div>
				    <div class="item">Spanish</div>
				    <div class="item">Swedish</div>
				    <div class="item">Turkish</div>
				    <div class="item">Vietnamese</div>
				  </div>
				</div>
			</div>
		</div>
		<!--  -->
		<section class="addcourse-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<p>{{ message.course_name }}</p>
						<form id="imageform" action="" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="ui form">
								<div class="field">
									<label>What to expect: <button class="ui green circular icon button">
									  <i class="help icon"></i>
									</button></label>
									<textarea name="cexpectdesc" rows="2">{% if message.course_expect_desc %}{{ message.course_expect_desc }}{% endif %}</textarea>
								</div>
								<div class="field">
									<label>Requirements (optional): <button class="ui green circular icon button">
									  <i class="help icon"></i>
									</button></label>
									<textarea name="creqdesc" rows="2">{% if message.course_req_desc %}{{ message.course_req_desc }}{% endif %}</textarea>
								</div>
								<div class="field">
									<label>Final Result (optional): <button class="ui green circular icon button">
									  <i class="help icon"></i>
									</button></label>
									<textarea name="cresultdesc" rows="2">{% if message.course_result_desc  %}{{ message.course_result_desc }}{% endif %}</textarea>
								</div>
								<div class="field">
									<label>Course Images : </label>
									{% if images %}
									<div class="ui tiny images">
										{% for image in images %}
											<img class="ui image" src="{{ image.image.url }}">
										{% endfor %}
									</div>
									{% endif %}
									<input type="file" name="courseimage" onchange="window.setTimeout(function() { document.getElementById('imageform').submit(); }, 200);">
								</div>
								<div class="field">
									<button class="ui button" type="submit">Submit</button>
								</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<section class="footer">
			<p>All rights reserved <strong>@CrashCourseYou</strong> 2016-2017.</p>
		</section>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.2/semantic.min.js" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{% static 'createcourse/js/main.js' %}"></script>
		<script type="text/javascript">
			$('.ui.dropdown')
			  .dropdown()
			;
			$('.ui.checkbox')
			  .checkbox()
			;
			$('.ui.radio.checkbox')
			  .checkbox()
			;
		</script>
	</body>
</html>